.goal-section{
    min-height: 60vh;
    padding: 40px 0 60px 0;
}

.goalContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.goalImage{
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

.money-value{
    color: #208E22;
    font-size: 36px;
    font-weight: bold;
}

.goal-text{
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}

.goal-info{
    display: flex;
    flex: auto;
    flex-basis: 300px;
    height: 300px;
    justify-content: center;
    padding: 20px;
}

.goal-progress{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.goal-total{
    height: 200px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.goal-progress-bar{
    margin: 0 10px;
}

.spending-title{
    color:#2EB6D9;
    font-weight: normal;
    font-style: italic;
    
}

.saving-title{
    color: #99CC33;
    font-weight: normal;
    font-style: italic;
}

.giving-title{
    color: #EC762A;
    font-weight: normal;
    font-style: italic;
}

.goal-title{
    margin-bottom: 30px;
}

.spending-button{
    background-color:#2EB6D9;
}

.saving-button{
    background-color:#99CC33;
}

.giving-button{
    background-color:#EC762A;
}

@media only screen and (min-width: 750px){
    .goalContent{
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }

    .goalContent.content-saving{
        flex-direction: row-reverse;
    }

    .goalImage{
        margin-bottom: 0;
        min-height: 200px;
        min-width: 200px;
    }

    .goal-progress{
        margin-left: 20px;
        margin-right: 20px;
    }

    .goal-total{
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media only screen and (min-width: 1000px){

    .money-value{
        font-size: 1.5em;
    }

    .goal-text{
        font-size: 36px;
    }

    .goalImage{
        min-height: 300px;
        min-width: 300px;
    }
}